{
  "networks": {
    "goerli_side": {
      "type": "evm",
      "wormholeChainId": 2,
      "contractType": "side",
      "rpc": "",
      "bridgeAddress": "0x706abc4E45D419950511e474C7B9Ed348A4a716c",
      "deployedAddress": "",
      "emittedVAAs": []
    },
    "polygon_mumbai_side": {
      "type": "evm",
      "wormholeChainId": 5,
      "contractType": "side",
      "rpc": "",
      "bridgeAddress": "0x0CBE91CF822c73C2315FB05100C2F714765d5c20",
      "deployedAddress": "",
      "emittedVAAs": []
    },
    "avaxfuji_main": {
      "type": "evm",
      "wormholeChainId": 6,
      "contractType": "main",
      "rpc": "",
      "bridgeAddress": "0x7bbcE28e64B3F8b84d876Ab298393c38ad7aac4C",
      "deployedAddress": "",
      "emittedVAAs": []
    },
    "avaxfuji_side": {
      "type": "evm",
      "contractType": "side",
      "wormholeChainId": 6,
      "rpc": "",
      "bridgeAddress": "0x7bbcE28e64B3F8b84d876Ab298393c38ad7aac4C",
      "deployedAddress": "",
      "emittedVAAs": []
    },
    "moonalpha_main": {
        "type": "evm",
        "contractType": "main",
        "wormholeChainId": 16,
        "rpc": "https://moonbase-alpha.public.blastapi.io",
        "bridgeAddress": "0xa5B7D85a8f27dd7907dc8FdC21FA5657D5E2F901",
        "deployedAddress": "0xa4b8805fAbD93AE0286c304ED5309C30c538F61d",
        "emittedVAAs": []
    }
  },
  "wormhole": {
    "restAddress": "https://wormhole-v2-testnet-api.certus.one"
  }
}